root = true

[*.cs]
indent_style = space
indent_size = 4
insert_final_newline = true
guideline = 80

# Show a visual guideline at column 120
editorconfig_max_line_length = 80

# Braces on new lines
csharp_new_line_before_open_brace = all

# Space between method name and parentheses
csharp_space_between_method_declaration_name_and_open_parenthesis = true

# Wrap arguments if long
csharp_wrap_preserve_single_line = false
